.slim.table>:not(caption) > * > * {
  padding-top: 0;
  padding-bottom: 0;
}
.slim .form-control {
  padding-top: 0;
  padding-bottom: 0;
  line-height: normal;
}
input {
  text-align: right;
}
.row {
  align-items: center;
}
input[type='number'] {
  width: 10em;
  margin: auto;
}